---
// Skeleton loader for MediaCard
---

<div class="relative">
  <div class="w-full aspect-video rounded-lg bg-semi-dark-blue mb-2 animate-pulse"></div>
  <div class="flex flex-col gap-2">
    <div class="w-3/5 h-3 md:h-3.5 rounded bg-semi-dark-blue animate-pulse"></div>
    <div class="w-4/5 h-4 md:h-5 rounded bg-semi-dark-blue animate-pulse"></div>
  </div>
</div>

